:root {
    --yellow: #FDBB30;
    --yellowlight: #ffdb91;
    --black: #000000;
    --white: #ffffff;
    --grey: #e5e5e5;
    --greydark: #585858;
    --box-shadow-posX: 5px 0px 15px -5px var(--greydark);
    --box-shadow-negY: 0px 5px 15px -5px var(--greydark);
    --font1: Arial, Helvetiva, sans-serif;
}

body {
    font-family: var(--font1);
}

.card-header {
    background-color: var(--yellowlight);
}

#feedbox hr {
    width: 90%;
    margin: 30px auto;
    height: 2px;
    background-color: #000000;
    border: none;
}

#appointment-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.appointment {
    margin: 10px;
}


.fa-times-circle {
    font-size: 1.5rem;
    color: #ff0000;
    padding: 0 6px;
    transition: 0.5s;
}

.fa-check-circle {
    font-size: 1.5rem;
    color: #008700;
    padding: 0 6px;
    transition: 0.5s;
}

.fa-times-circle:hover {
    color: #550000;
    cursor: pointer;
}

.fa-check-circle:hover {
    color: #004700;
    cursor: pointer;
}

#provider-appointment-table{
    border: 1px solid black;
    margin: 20px;
    box-shadow: var(--box-shadow-negY);
}

.table{
    margin: 0;

}

.table-head-app{
    background-color: var(--black);
    color: var(--grey);
}

[type="date"] {
  background:#fff url(https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/calendar_2.png)  97% 50% no-repeat ;
}
[type="date"]::-webkit-inner-spin-button {
  display: none;
}
[type="date"]::-webkit-calendar-picker-indicator {
  opacity: 0;
}

/* custom styles */

label {
  display: block;
  margin-right: 10px;
}
#date{
  height: 40px;
  font-size: 1rem;
  border: 1px solid #000000;
  border-radius: 5px;
  background-color: #ffffff;
  padding: 3px 5px;
  box-shadow: inset 0 3px 6px rgba(0,0,0,0.1);

}
#dash-date{
    display: flex;
    align-items: baseline;
    justify-content: center;
}
.date-navi{
    margin: 10px;
    padding: 0.5em 0.6em;
    font-size: 1.3rem;
    transition: 3ms;
    
}
.date-navi:hover{
    background-color: var(--grey);
    display: inline-block;
    border-radius: 60px;
    cursor: pointer;



}